In [1]:
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt

df = pd.read_csv('https://raw.githubusercontent.com/delinai/schulich_ds1_2024/main/Datasets/Assignment1_StreamFlow_Subscription_Data.csv')

In [2]:
#Converting Sub Start Date as Date/Time
df['Subscription_Start_Date'] = pd.to_datetime(df['Subscription_Start_Date'])

#Creating a year and quarter column
df['year'] = df['Subscription_Start_Date'].dt.year
df['quarter'] = df['Subscription_Start_Date'].dt.quarter

# Create a 'year_quarter' column for grouping
df['year_quarter'] = df['year'].astype(str) + ' Q' + df['quarter'].astype(str)


print(df[['Subscription_Start_Date','year', 'quarter', 'year_quarter']].head())

     Subscription_Start_Date  year  quarter year_quarter
0 2020-06-07 01:53:37.656934  2020        2      2020 Q2
1 2024-02-21 01:53:37.656980  2024        1      2024 Q1
2 2022-10-06 01:53:37.656995  2022        4      2022 Q4
3 2022-01-04 01:53:37.657006  2022        1      2022 Q1
4 2020-03-13 01:53:37.657017  2020        1      2020 Q1

In [51]:
df['Satisfaction_level'] = df.apply(value, axis=1)

In [52]:
#Churn Rate Calculation Function
def churn_rate(group):
    churned = group['Churned'].sum()
    total = group['Churned'].count()
    return (churned/total) * 100

In [53]:
standard_df = df[df['Subscription_Type'] == 'Standard']

In [54]:
standard_df.head()

,User_ID,Age,Gender,Location,Subscription_Start_Date,Subscription_Type,Monthly_Payment,Payment_Method,Monthly_Hours_Watched,Favorite_Genre,...,Average_Session_Length,Content_ID,Rating_Given,Churned,Date_of_Churn,Reason_for_Churn,year,quarter,year_quarter,Satisfaction_level
1,2,69,Other,West,2024-02-21 01:53:37.656980,Standard,14.99,Credit Card,4.982277,Drama,...,0.809002,1076,1,0,NaN,NaN,2024,1,2024 Q1,Disatisfied
2,3,46,Female,North,2022-10-06 01:53:37.656995,Standard,14.99,PayPal,4.114953,Sci-Fi,...,1.153570,1095,2,0,NaN,NaN,2022,4,2022 Q4,Disatisfied
3,4,32,Female,East,2022-01-04 01:53:37.657006,Standard,14.99,Credit Card,60.244820,Action,...,0.609503,1003,1,0,NaN,NaN,2022,1,2022 Q1,Disatisfied
4,5,60,Female,North,2020-03-13 01:53:37.657017,Standard,14.99,Credit Card,4.711855,Sci-Fi,...,0.359971,1012,4,0,NaN,NaN,2020,1,2020 Q1,Satisfied
8,9,36,Male,East,2021-09-29 01:53:37.657064,Standard,14.99,Credit Card,24.052576,Drama,...,0.770118,1036,2,0,NaN,NaN,2021,3,2021 Q3,Disatisfied

In [55]:
avg_standard_rating = standard_df['Rating_Given'].mean()
print('Average User Rating for Standard Users: ', avg_standard_rating)

Average User Rating for Standard Users:  3.0622641509433963

In [29]:
standard_churn_users = df[(df['Subscription_Type'] == 'Standard') & df['Churned'] == 1]

In [98]:
standard_churn_users['Reason_for_Churn'].value_counts().reset_index()

            Reason_for_Churn  count
0       Found better service     37
1             Price increase     35
2           Personal reasons     29
3  Dissatisfied with content     23

In [32]:
avg_rating_churn_standard = standard_churn_users['Rating_Given'].mean()
print('Average Rating Given for Standard users that have Churned: ', avg_rating_churn_standard)

Average Rating Given for Standard users that have Churned:  2.6129032258064515

In [56]:
#Total Star ratings for all users
df['Rating_Given'].value_counts().sort_index()

Rating_Given
1    191
2    212
3    184
4    202
5    211
Name: count, dtype: int64

In [57]:
#Total Star Rating for Standard Users
standard_df['Rating_Given'].value_counts().sort_index()

Rating_Given
1    102
2    112
3     85
4    113
5    118
Name: count, dtype: int64

In [58]:
def value(group):
    if group['Rating_Given'] == 5:
        return 'Very Satisfied'
    elif group['Rating_Given'] == 4 or group['Rating_Given'] == 3:
        return 'Satisfied'
    else:
        return 'Disatisfied'

In [47]:
df['Satisfaction_level'] = df.apply(value, axis=1)

In [59]:
standard_df['Satisfaction_level'].value_counts().reset_index()

  Satisfaction_level  count
0        Disatisfied    214
1          Satisfied    198
2     Very Satisfied    118

In [101]:
#calculate average user rating every quarter by subscription type

average_satisfaction_by_user_quarter = standard_df.groupby('Subscription_Type')['Satisfaction_level']
print(average_satisfaction_by_user_quarter())

TypeError: 'SeriesGroupBy' object is not callable

In [99]:
df['Satisfaction_level'].value_counts()

Satisfaction_level
Disatisfied       403
Satisfied         386
Very Satisfied    211
Name: count, dtype: int64

Favorite_Genre
Drama          212
Action         205
Comedy         203
Sci-Fi         192
Documentary    188
Name: count, dtype: int64